extends layout

block content
  div(id="indexBg")
    div(id="indexMarg")
      div(class="row")
        div(class="col-md-6")
          img(class="img-fluid" src="images/apple.jpg")
        div(class="col-md-6")
          h1(class="text-center") Managing your finances can be tough.
          p(class="text-center") Allow us to help you with that...
          br
          p Weemaple makes it super easy to track your personal income and expenses.
          div(class="row")
            div(class="col")
              center
                a(href="/login" class="btn btn-outline-primary btn-lg btn-block") Login
            div(class="col")
              center
                a(href="/signup" class="btn btn-outline-primary btn-lg btn-block") Signup