extends layout

block content
  div(id="indexBg")
    div(id="indexMarg")
      div(class="row")
        div(class="col-md-12")
          h1(class="text-center") Welcome to Tenzo
          p(class="text-center") An app that allows you to manage life in the present using the latest technology the web has to offer.
      br
      div(class="row")
        div(class="col-sm-6")
          center
            a(href="/login" class="btn btn-primary") Login
        div(class="col-sm-6")
          center
            a(href="/signup" class="btn btn-primary") Signup
      br