extends layout

block content
  div(id="indexBg")
    div(id="indexMarg")
      div(class="row")
        div(class="col-md-12")
          h1(class="text-center") Managing your finances can be tough.
          p(class="text-center") Allow us to help you with that
      br
      div(class="row")
        div(class="col")
          center
            a(href="/login" class="btn btn-primary") Login
        div(class="col")
          center
            a(href="/signup" class="btn btn-primary") Signup