extends layout

block content
  include nav.jade
  main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
    h1(class="text-center") Dashboard:
    hr
    div(class="row")
      div(class="col-sm-4")
        h4 Income: 
          span(id="incomeTotal")= incomeTotal
      div(class="col-sm-4")
        h4 Expenses: 
          span(id="expenseTotal")= expenseTotal
      div(class="col-sm-4")
        h4 Outcome: 
          span(id="swimResult")= swimResult