extends layout

block content
  include nav.jade
  main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
    div(class="row")
      div(class="col-sm-12")
        canvas(id="densityChart" width="600" height="200")
    hr
    div(class="row")
      div(class="col-sm-4")
        h4 Income: 
          span(id="incomeTotal")= incomeTotal
      div(class="col-sm-4")
        h4 Expenses: 
          span(id="expenseTotal")= expenseTotal
      div(class="col-sm-4")
        h4 Outcome: 
          span(id="swimResult")= swimResult
  script(src="/javascripts/charts/income-expense.js")