extends layout

block content
  include nav.jade
  main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
    div(class="row")
      div(class="col-sm-12")
        div(id="block-profile")
          form(class="form")
            textarea(type="text" placeholder="Share what's on your mind" class="form-control")
            br
            button(type="submit" class="btn btn-primary" id="form") Post
  script(src="/javascripts/posts/addPost.js")