nav(class="col-md-2 d-none d-md-block bg-light sidebar")
  div(class="sidebar-sticky")
    ul(class="nav flex-column")
      li(class="nav-item")
        a(class="nav-link" href="/dashboard")
          i(class="fas fa-chart-line") 
            span Dashboard
      li(class="nav-item")
        a(class="nav-link" href="/expenses")
          i(class="fas fa-donate") 
            span Expenses
      li(class="nav-item")
        a(class="nav-link" href="/incomes")
          i(class="fas fa-comments-dollar") 
            span Incomes
      li(class="nav-item")
        a(class="nav-link" href="/tasks")
          i(class="far fa-list-alt") 
            span Tasks
      li(class="nav-item")
        a(class="nav-link" href="/bitcoin")
          i(class="fab fa-btc") 
            span CryptoCurrency
      li(class="nav-item")
        a(class="nav-link active" href="/home")
          i(class="fas fa-people-carry") 
            span Community
      li(class="nav-item")
        a(class="nav-link active" href="/connect")
          i(class="fas fa-handshake") 
            span Find Connections
      li(class="nav-item")
        a(class="nav-link" href="/office")
          i(class="fas fa-tv") 
            span Office