div(id="userNav")
  ul
    li(class="nav-item")
      a(class="nav-link active" href="/profile") Profile
    li(class="nav-item")
      a(class="nav-link active" href="/tasks") Tasks
    li(class="nav-item")
      a(class="nav-link active" href="/interests") Interests
    li(class="nav-item")
      a(class="nav-link active" href="/bitcoin") Bitcoin
    li(class="nav-item")
      a(class="nav-link active" href="/office") Office
    li(class="nav-item")
      a(class="nav-link active" href="/users/logout") Logout
hr