nav(class="col-md-2 d-none d-md-block bg-light sidebar")
  div(class="sidebar-sticky")
    ul(class="nav flex-column")
      li(class="nav-item")
        a(class="nav-link active" href="/home") Home
      li(class="nav-item")
        a(class="nav-link" href="/tasks") Tasks
      li(class="nav-item")
        a(class="nav-link" href="/interests") Interests
      li(class="nav-item")
        a(class="nav-link" href="/bitcoin") CryptoCurrency
      li(class="nav-item")
        a(class="nav-link" href="/office") Office