ul(class="nav flex-column")
  li(class="nav-item")
    a(class="nav-link active" href="/users/profile") Profile
  li(class="nav-item")
    a(class="nav-link active" href="/users/tasks") Tasks
  li(class="nav-item")
    a(class="nav-link active" href="/users/interests") Interests
  li(class="nav-item")
    a(class="nav-link active" href="/users/blocks") Your Coins
  li(class="nav-item")
    a(class="nav-link active" href="/users/mineblock") Mine Block
  li(class="nav-item")
    a(class="nav-link active" href="/users/logout") Logout