div(id="userNav")
  ul
    li(class="nav-item")
      a(class="nav-link active" href="/users/profile") Profile
    li(class="nav-item")
      a(class="nav-link active" href="/users/tasks") Tasks
    li(class="nav-item")
      a(class="nav-link active" href="/users/interests") Interests
    li(class="nav-item")
      a(class="nav-link active" href="/users/bitcoin") Bitcoin
    li(class="nav-item")
      a(class="nav-link active" href="/users/office") Office
    li(class="nav-item")
      a(class="nav-link active" href="/users/logout") Logout
hr