extends ../layout

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col-md-2")
        include nav.jade
      div(class="col-md-10")
        h1(class="text-center") Profile Page
        div(class="row")
          div(class="col-sm-12")
            div(id="block-profile")
        br
        div(class="row")  
          div(class="col-sm-6")
            div(id="interestsBox")
              h5(class="text-center") List Of Upcoming Tasks Goes Here
          div(class="col-sm-6")
            div(id="tasksBox")
              h5(class="text-center") List Of Interests Goes Here
  div(id="margy")
  script(src="/javascripts/bitcoin/chart.js")