extends ../layout

block content
  include ../nav.jade
  main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
    div(class="row")
      div(class="col-sm-6")
        canvas(id="expenses-chart")
      div(class="col-sm-6")
        canvas(id="expenses-pie")
    hr
    div(class="row")
      div(class="col-md-4")
        button(class="btn btn-outline-primary btn-lg btn-block" id="showBtn") Show Add Expense Feature
        br
        div(id="hideMe")
          br
          div(class="row")
            div(class="col-sm-12")
              form(action="/expenses" method="POST")
                label(for="title") Expense Title
                input(type="text" class="form-control" id="title" aria-describedby="titleHelp" name="title" placeholder="Expense Title" required)
                label(for="amount") Expense Amount ($)
                input(type="number" class="form-control" id="amount" aria-describedby="amountHelp" name="amount" placeholder="Expense Amount" required)
                label(for="category") Category
                select(id="category" name="category" class="form-control" placeholder="Category")
                  option(value="")
                  option(value="charity") Charity
                  option(value="clothing") Clothing
                  option(value="education") Education
                  option(value="food") Food / Drinks
                  option(value="gifts") Gifts
                  option(value="personal") Health / Personal
                  option(value="home") Home / Utilities
                  option(value="leisure") Leisure
                  option(value="loans") Loans
                  option(value="taxes") Taxes
                  option(value="transport") Transport
                  option(value="other") Other
                label(for="due_date") Date The Expense Is Due
                input(type="date" class="form-control" id="due_date" aria-describedby="due_dateHelp" name="due_date" placeholder="Expense Due Date" required)
                br
                button(class="btn btn-primary") Add New Expense
      div(class="col-md-8")
        div("table-responsive")
          table(class="table table-dark table-bordered table-hover table-condensed")
            tr
              th Amount
              th Title
              th Category
              th Due Date
            each d in data
              tr
              td $
                span= d.amount
              td= d.title
              td= d.category
              td(id="due_date")= d.due_date
    div(id="margy")
  script(src="/js/expenses/showForm.js")
  script(src="/js/charts/expensesline.js")
  script(src="/js/charts/expensespie.js")