@media screen and (min-width: 960px) {
    #auth {
    	margin-top: 10%;
    }
    #startRecording {
        visibility: hidden;
    }
    #stopRecording {
        visibility: hidden;
    }
}

@media screen and (min-width: 992px) {

    #auth {
    	margin-left: 15%;
    	margin-right: 15%;
    }

    #office-marg {
    	margin-top: 5%;
    }
    #indexMarg {
        padding-top: 10%;
    }
}