@media screen and (min-width: 960px) {
    html {
      position: relative;
      min-height: 100%;
    }

    #menuHide {
        width: 20%;
        height: 100%;
        display: none;
    }

    #bitcoin-chart {
        width: 600px; 
        height: 300px;
    }
    #densityChart {
        width: 700px; 
        height: 200px;
    }
    #desktopNav {
        display: block;
    }
    #mobileNav {
        display: none;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
    }
    #auth {
    	margin-top: 10%;
    }
    #startRecording {
        visibility: hidden;
    }
    #stopRecording {
        visibility: hidden;
    }

    li {
        list-style: none;
    }
    #userNav {
        height: 100vh;
        margin-top: 2%;
    }

    .desktopNavMargin {
        margin-top: 3%;
    }

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }

    #margy {
        padding-bottom: 5%;
        margin-top: 1%;
    }
    #indexMarg {
        padding-top: 5%;
    }
    #indexBg {
        height: 537px;
    }
}

@media screen and (min-width: 992px) {

    #auth {
    	margin-left: 15%;
    	margin-right: 15%;
    }

    #office-marg {
    	margin-top: 5%;
    }
}