@media screen and (min-width: 320px) {
  body {
    background-color: #ecf0f1;
  }
    #auth {
    	margin-top: 30%;
    }

    #incomeTotal {
      color: green
    }
    #expenseTotal {
      color: red
    }
    .navbar-light .navbar-brand {
      color: white;
    }
    #content {
    	width: 100%;
    }
    #main-navbar {
      background-color: #2A2641;
      color: white;
    }

    #main-navbar a {
      color: white;
    }

    #main-navbar a:link {
      color: white;
    }

    #main-navbar a:hover {
      color: white;
    }

    #adminVideoContainer {
	    width: 100%;
	    height: 100%;
	    visibility: hidden;
	}
	#callOptions {
    width: 100%;
    height: 50px;
    visibility: hidden;
  }
  #textEditor {
    width: 100%;
    height: 100%;
  }
  #startButton {
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
  }
  #recordButton {
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
  }
  #startRecording {
    /*display: hidden;*/
  }
  #indexBg {
    width: 100%;
    height: 615px;
    background-image: url("../images/weemapleBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 5%;
    font-size: 1.5em;
  }

  #indexMarg {
    padding-top: 30%;
  }

  #bit-details {
    background-color: #2574A9;
    color: white;
    padding: 2%;
  }

  #margy {
    margin-top: 15%;
  }

  #margy2 {
    margin-top: 53%;
  }

  #margy3 {
    margin-top: 25%;
  }

  /* Profile Page */

  #block-profile {
    width: 100%;
    /*height: 100%;*/
    /*color: white;*/
    /*padding-top: 7%;*/
    margin-top: 2%;
    padding: 2%;
    background-color: white;
  }
  #interestsBox {
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 10%;
    background-color: #6c5ce7;
  }

  #tasksBox {
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 10%;
    background-color: #6c5ce7;
  }

  footer {
    background-color: #2A2641;
    color: white;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

}