@media screen and (min-width: 320px) {
  body {
    background-color: #ecf0f1;
    font-family: 'Dosis', sans-serif;
  }

  h1 {
    font-family: 'Righteous', cursive;
  }

  #brand {
    font-family: 'Lobster Two', cursive;
    font-size: 1.4em;
  }

  #secondNav {
    display: none;
  }

  #bitcoin-chart {
     width: 100%; 
     height: 300;
  }

  #densityChart {
     width: 100%; 
     height: 200;
  }

  #desktopNav {
    display: none;
  }
  #mobileNav {
    display: block;
  }

  path { 
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
    #auth {
    	background: white;
      padding: 5%;
      margin-top: 15%;
      border-radius: 10px;
    }

    #incomeTotal {
      color: green
    }
    #expenseTotal {
      color: red
    }
    .navbar-light .navbar-brand {
      color: white;
    }
    #content {
    	width: 100%;
    }
    #main-navbar {
      background-color: #6ab04c;
    }

    #main-navbar a {
      color: white;
    }

    #main-navbar a:link {
      color: white;
      text-decoration: none;
    }

    #main-navbar a:hover {
      color: white;
    }

    #adminVideoContainer {
	    width: 100%;
	    height: 100%;
	    visibility: hidden;
	}
	#callOptions {
    width: 100%;
    height: 50px;
    visibility: hidden;
  }
  #textEditor {
    width: 100%;
    height: 100%;
  }
  #startButton {
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
  }
  #recordButton {
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
  }
  #indexBg {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
  }

  #indexMarg {
    padding-top: 5%;
  }

  #bit-details {
    background-color: #2574A9;
    color: white;
    padding: 2%;
  }

  #margy {
    margin-top: 15%;
  }

  #margy2 {
    margin-top: 20%;
  }

  #margy3 {
    margin-top: 25%;
  }


  #block-profile {
    width: 100%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
  }
  #interestsBox {
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 10%;
    background-color: #6c5ce7;
  }

  #tasksBox {
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 10%;
    background-color: #6c5ce7;
  }

  #navIcon {
    color: white;
    background-color: white;
    border-radius: 15px;
  }

   #mobileNavColor {
    background-color: #535c68;
  }

  footer {
    background-color: #6ab04c;
    color: white;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

}