nav(class="col-md-2 d-none d-md-block bg-light sidebar")
  div(class="sidebar-sticky")
    ul(class="nav flex-column")
      li(class="nav-item")
        a(class="nav-link" href="/myposts")
          i(class="fas fa-donate") 
            span My Posts
      li(class="nav-item")
        a(class="nav-link" href="#")
          i(class="fas fa-comments-dollar") 
            span The Community